<!doctype html>
 <html ng-app="myApp">
   <head>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
     <script src="js/main.js"></script>
   </head>
   <body>
   
	<div ng-controller="MyController">
	  <input type="text" ng-model="person.name" placeholder="Enter your name" />
	  <h5>Hello {{ person.name }}</h5>
	</div>

	<div ng-controller="MyController">
	  <h5>{{ time }}</h5>
	</div>

	<div ng-controller="DemoController">
	  <h4>The simplest adding machine ever</h4>
	  <button ng-click="add(1)" >Add</button>
	  <button ng-click="subtract(1)" >Subtract</button>
	  <h4>Current count: {{ counter }}</h4>
	</div>

	<div ng-controller="PlayerController">
	{{ programs }}
	</div>
   </body>
 </html>